<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->
    <!-- 日志文件的家目录 -->
    <property name="LOG_HOME" value="E:/log/" />
    <!-- 生成指定格式的时间戳，用于日志文件的唯一命名 -->
    <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss" />

    <!--追加器-->
    <appender name="fileAppender" class="ch.qos.logback.core.FileAppender">
        <!-- 立即刷新输出流，设置为 false 可以提高日志吞吐量 -->
        <immediateFlush>true</immediateFlush>
        <!-- 日志文件路径 -->
        <file>${LOG_HOME}${bySecond}.log</file>
        <!-- 日志输出格式，必须指定，否则不会往文件输出内容 -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
        <!-- 追加 -->
        <append>true</append>
        <!-- 关闭严格模式，也提高日志吞吐量(3倍)，默认false -->
        <prudent>false</prudent>
    </appender>

    <!-- 日志输出级别 -->
    <root level="DEBUG">
        <appender-ref ref="fileAppender" />
    </root>
</configuration>